[build]
builder = "railpack"
setupCommand = "apt-get update && apt-get install -y openjdk-17-jdk"
buildCommand = "./gradlew build"

[start]
cmd = "java -jar build/libs/iStudy-0.0.1-SNAPSHOT.jar"

[variables]
JAVA_VERSION = "17"